In [1]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [14]:
# 한글설정 & 마이너스표시
plt.rc('font',family='Malgun Gothic') 
plt.rc('axes',unicode_minus=False)

In [36]:
url = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList'

In [41]:
params = {
    
    "numOfRows" : 100,
    "pageNo" : 1,
    "MobileOS" : "ETC",
    "MobileApp" : "AppTest",
    "serviceKey" : "2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ==",
    "_type" : "json",
    "startYmd" : "20200101",
    "endYmd": "20240404",
    
}

In [42]:
res = requests.get(url,params=params)
res.status_code

200

In [44]:
res.url

'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=100&pageNo=1&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404'

In [50]:
json_str = res.text
dictionary = pd.read_json(json_str)

In [52]:
df = pd.json_normalize(dictionary['response']['body']['items']['item'])
df.head(5)

  areaCode areaNm daywkDivCd daywkDivNm touDivCd touDivNm     touNum   baseYmd
0       11  서울특별시          1        월요일        1   현지인(a)  4631749.5  20200106
1       11  서울특별시          1        월요일        1   현지인(a)  4686647.0  20200113
2       11  서울특별시          1        월요일        1   현지인(a)  4677137.5  20200120
3       11  서울특별시          1        월요일        1   현지인(a)  3704991.5  20200127
4       11  서울특별시          1        월요일        1   현지인(a)  4617147.5  20200203

In [57]:
max_numOfRows = 1000

In [58]:
totalCount = dictionary['response']['body']['totalCount']
totalCount

77418

In [59]:
request_cnt = math.ceil(totalCount / max_numOfRows)
request_cnt

78

In [60]:
def get_params (numOfRows, req_cnt):
    params = {

        "numOfRows" : numOfRows,
        "pageNo" : req_cnt,
        "MobileOS" : "ETC",
        "MobileApp" : "AppTest",
        "serviceKey" : "2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ==",
        "_type" : "json",
        "startYmd" : "20200101",
        "endYmd": "20240404",

    }
    return params

In [61]:
df = pd.DataFrame()
for i in range(1, request_cnt+1):
    res = requests.get(url,params=get_params(max_numOfRows,i))
    print(res.url)
    
    if res.status_code == 200:
        dictionary = json.loads(res.text)
        df_tmp = pd.json_normalize(dictionary['response']['body']['items']['item'])
        df = pd.concat([df,df_tmp])
    else : 
        print('가져오기 실패')
        break

http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=1&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=2&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=3&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=4&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=5&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=6&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=7&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=8&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=9&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=10&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=11&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=12&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=13&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=14&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=15&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=16&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=17&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=18&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=19&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=20&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=21&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=22&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=23&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=24&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=25&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=26&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=27&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=28&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=29&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=30&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=31&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404

http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=32&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=33&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=34&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=35&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=36&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=37&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=38&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=39&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=40&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=41&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=42&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=43&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=44&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=45&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=46&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=47&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=48&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=49&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=50&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=51&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=52&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=53&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=54&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=55&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=56&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=57&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=58&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=59&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=60&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=61&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=62&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404

http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=63&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=64&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=65&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=66&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=67&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=68&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=69&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=70&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=71&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=72&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=73&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=74&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=75&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=76&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=77&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404
http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=1000&pageNo=78&MobileOS=ETC&MobileApp=AppTest&serviceKey=2s8gpTy4cAHLFmocDZh70QO94wQfxdEZMkauGakoluXCgPneCoqhFKJ7KqYE3FChzBbnNQrmtkZXPsJn8QQiGQ%3D%3D&_type=json&startYmd=20200101&endYmd=20240404

In [62]:
df.shape

(77418, 8)

In [63]:
df.to_excel('관공공사_빅데이터.xlsx',index=False)

In [65]:
data = pd.read_excel('관공공사_빅데이터.xlsx')

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77418 entries, 0 to 77417
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areaCode    77418 non-null  int64
 1   areaNm      77418 non-null  object
 2   daywkDivCd  77418 non-null  int64
 3   daywkDivNm  77418 non-null  object
 4   touDivCd    77418 non-null  int64
 5   touDivNm    77418 non-null  object
 6   touNum      77418 non-null  float64
 7   baseYmd     77418 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 4.7+ MB

In [68]:
data.columns

Index(['areaCode', 'areaNm', 'daywkDivCd', 'daywkDivNm', 'touDivCd',
       'touDivNm', 'touNum', 'baseYmd'],
      dtype='object')

In [69]:
data

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
0,11,서울특별시,1,월요일,1,현지인(a),4.631750e+06,20200106
1,11,서울특별시,1,월요일,1,현지인(a),4.686647e+06,20200113
2,11,서울특별시,1,월요일,1,현지인(a),4.677138e+06,20200120
3,11,서울특별시,1,월요일,1,현지인(a),3.704992e+06,20200127
4,11,서울특별시,1,월요일,1,현지인(a),4.617148e+06,20200203
...,...,...,...,...,...,...,...,...
77413,52,전북특별자치도,7,일요일,3,외국인(c),7.653358e+02,20240204
77414,52,전북특별자치도,7,일요일,3,외국인(c),1.018267e+03,20240211
77415,52,전북특별자치도,7,일요일,3,외국인(c),9.206861e+02,20240218
77416,52,전북특별자치도,7,일요일,3,외국인(c),9.407389e+02,20240225
77417,52,전북특별자치도,7,일요일,3,외국인(c),1.403717e+03,20240303

In [72]:
df = data[['areaNm','touDivNm','touNum','baseYmd']]
display(df.groupby(['areaNm','touDivNm'])['touNum'].mean())

areaNm   touDivNm
강원특별자치도  외국인(c)      5.699309e+02
         외지인(b)      3.875215e+05
         현지인(a)      9.376751e+05
경기도      외국인(c)      3.861273e+03
         외지인(b)      1.597646e+06
         현지인(a)      6.065519e+06
경상남도     외국인(c)      9.299850e+02
         외지인(b)      4.010852e+05
         현지인(a)      1.576087e+06
경상북도     외국인(c)      4.420686e+02
         외지인(b)      4.597582e+05
         현지인(a)      1.350145e+06
광주광역시    외국인(c)      1.370138e+02
         외지인(b)      1.669113e+05
         현지인(a)      7.053653e+05
대구광역시    외국인(c)      3.373942e+02
         외지인(b)      2.582982e+05
         현지인(a)      1.152329e+06
대전광역시    외국인(c)      2.187218e+02
         외지인(b)      2.037400e+05
         현지인(a)      7.056215e+05
부산광역시    외국인(c)      1.989266e+03
         외지인(b)      3.680123e+05
         현지인(a)      1.418964e+06
서울특별시    외국인(c)      8.977157e+03
         외지인(b)      1.452026e+06
         현지인(a)      4.465357e+06
세종특별자치시  외국인(c)      6.436907e+01
         외지인(b)      7.099038e+04
         현지인(a)      1.595362e+05
울산광역시    외국인(c)      3.430732e+02
         외지인(b)      1.247795e+05
         현지인(a)      5.189432e+05
인천광역시    외국인(c)      6.446562e+03
         외지인(b)      4.145900e+05
         현지인(a)      1.232808e+06
전라남도     외국인(c)      5.937806e+02
         외지인(b)      3.285956e+05
         현지인(a)      9.096390e+05
전라북도     외국인(c)      3.249579e+02
         외지인(b)      2.445722e+05
         현지인(a)      9.587846e+05
전북특별자치도  외국인(c)      9.705689e+02
         외지인(b)      2.583598e+05
         현지인(a)      9.675083e+05
제주특별자치도  외국인(c)      1.223268e+03
         외지인(b)      1.602422e+05
         현지인(a)      5.171195e+05
충청남도     외국인(c)      6.582709e+02
         외지인(b)      4.131479e+05
         현지인(a)      1.035183e+06
충청북도     외국인(c)      3.843663e+02
         외지인(b)      2.807434e+05
         현지인(a)      7.716720e+05
Name: touNum, dtype: float64